body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px;
  padding-left: 5px;
  margin: 10px 0px 10px 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 15px auto;
  padding: 20px;
}